* {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

html {
  font-family: 'Roboto', sans-serif;
  background-color: #303030;
  color: orange;
}

body {
  margin-top: 1em;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: #505050;
  height: 5em;
  line-height: 5em;
  white-space: nowrap;
}

.header > h1 {
  text-align: center;
  font-size: 3em;
}

.main {
  text-align: center;
  padding-top: 7em;
}

.infoBlock {
  display: inline-block;
  width: 25%;
  padding: 1em;
}

.infoBlock > img {
  width: 380px;
}

.main > .mainTop > div:not(:last-child) {
  margin-right: 2em;
}

.main > .mainMiddle {
  margin: 4em;
  padding-top: 2em;
}

.main > .mainMiddle > cite {
  color: white;
  font-size: 2em;
}

.topTextBlock {
  padding-top: 4em;
}

.textBlock {
  color: white;
  font-size: 1.1em;
  width: 33%;
  padding: 2em;
  margin: 2em;
  height: 20em;
  display: inline-block;
  text-align: justify;
  vertical-align: middle;
  line-height: 1.4em;
  -moz-box-shadow: 15px 15px 15px 0px #202020;
  -webkit-box-shadow: 15px 15px 15px 0px #202020;
  -o-box-shadow: 15px 15px 15px 0px #202020;
  box-shadow: 15px 15px 15px 0px #202020;
}

.textBlock > h3 {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: solid 1px grey;
}

.mainMiddle > div > div:not(:last-child) {
  margin-right: 30px;
}

.mainBottom > i {
  font-size: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.mainBottom > i:not(:last-child) {
  margin-right: 3em;
}

.features {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

table {
  border-collapse: collapse;
}

th {
  padding-bottom: 1em;
  font-size: 1.3em;
  color: white;
}
th,
td {
  border-bottom: 1px solid #404040;
}

tr:nth-child(even) {
  background-color: #404040;
}

tr {
  width: 10em;
}

td {
  padding: 1em;
}

.footer {
  background-color: #202020;
  color: white;
  height: 15em;
}
